<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST"> {{! esto significa, que mande los datos donde dice links/add, y ahi esta configurado para que se suba a la base de datos}}
                        <div class="form-group">
                            <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="raza" class="form-control" placeholder="Raza">
                        </div>
                        <div class="form-group">
                            <textarea name="datosadicionales" rows="2" class="form-control" placeholder="Datos Adicionales"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="text" name="ubicacion" class="form-control" placeholder="Ubicacion">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>